:root {
  --white: #ffffff;
  --black: #000000;
  --black-hover: #111111;
  --black-active: #222222;
  --black-10: #0000001a;
  --black-75: #000000bf;
  --dark-0: #333333;
  --dark-1: #000000bf;
  --gray: #79756c;
  --gray-0: #707070;
  --gray-1: #7e7e7e;
  --gray-2: #9a9a99;
  --gray-3: #cccccc;
  --gray-4: #00000029;
  --gray-5: #e5e3dfbf;
  --gray-6: #f8f8f8;
  --gray-7: #e5e3df;
  --gray-8: #dddddd;
  --gray-9: #999999;
  --gray-10: #eeeeee;
  --gray-11: #444444;
  --gray-12: #e8e8e8;
  --red: #e32119;
  --red-hover: #e4423b;
  --red-active: #c91d16;
  --green: #00994d;
  --green-hover: #00be60;
  --green-active: #00773c;
  --blue: #00a0e6;
  --blue-hover: #1cabe9;
  --blue-active: #199bd4;
  --yellow: #ffc107;
  --yellow-hover: #e0a800;
  --yellow-active: #d39e00;

  --space: 20px;

  --success-color: #155724;
  --success-bg: #d4edda;
  --success-border: #c3e6cb;

  --danger-color: #721c24;
  --danger-bg: #f8d7da;
  --danger-border: #f5c6cb;
}
